/* Palette violet/bleu */
body {
    margin: 0;
    font-family:'segoe UI', sans-serif;
    background-color: blueviolet;
    color:rgb(99, 5, 250);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5em;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.burger span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}
main {
    padding: 2em;
    text-align: center;
}
section {
    margin: 4em 0;
}
.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 1em 0;
    border: 4px solid #3a0ca3;
}

/* responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width:100%;
        background-color: #3a0ca3;
        
    }
    .nav-links.active {
        display: flex;
    }
    .burger {
        display: flex;
    }
}

/* Animation au scroll */
.reveal, .reveal-left, .reveal-zoom {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.5s ease-in-out;
}
.reveal-left {
    transform: translateX(-50px);
}
.reveal-zoom {
    transform: scale(0.9);
}
/* formulaire */
form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 400px;
    margin: 0 auto;
}
input, textarea {
    padding: 10px;
    border: 2px solid #3a0ca3;
    border-radius: 5px;
    font-size: 1em;
}
button {
    padding: 10px;
    background-color: #4361ee;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #3a0ca3;
}
.btn-cv {
    display: inline-block;
    padding: 12px 25px;
    background-color: #4361ee;
    color: white;
    margin-top: 1em;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-weight: bold;

}